<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pelicula">
      <h2 data-cy="peliculaDetailsHeading"><span>Pelicula</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ pelicula.id }}</span>
        </dd>
        <dt><span>Titulo</span></dt>
        <dd>
          <span>{{ pelicula.titulo }}</span>
        </dd>
        <dt><span>Episodio</span></dt>
        <dd>
          <span>{{ pelicula.episodio }}</span>
        </dd>
        <dt><span>Estreno</span></dt>
        <dd>
          <span>{{ pelicula.estreno | formatMediumDate }}</span>
        </dd>
        <dt><span>Personajes</span></dt>
        <dd>
          <span *ngFor="let personajes of pelicula.personajes; let last = last">
            <a [routerLink]="['/personaje', personajes?.id, 'view']">{{ personajes.nombre }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/pelicula', pelicula.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
