<div>
  <h2 id="page-heading" data-cy="BatallaHeading">
    <span>Batallas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-batalla"
        [routerLink]="['/batalla/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Batalla </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="batallas?.length === 0">
    <span>No batallas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="batallas && batallas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Nombre</span></th>
          <th scope="col"><span>Planeta</span></th>
          <th scope="col"><span>Involucrados</span></th>
          <th scope="col"><span>Pelicula</span></th>
          <th scope="col"><span>Ganador</span></th>
          <th scope="col"><span>Perdedor</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let batalla of batallas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/batalla', batalla.id, 'view']">{{ batalla.id }}</a>
          </td>
          <td>{{ batalla.nombre }}</td>
          <td>{{ batalla.planeta }}</td>
          <td>
            <span *ngFor="let involucrados of batalla.involucrados; let last = last">
              <a class="form-control-static" [routerLink]="['/personaje', involucrados.id, 'view']">{{ involucrados.nombre }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="batalla.pelicula">
              <a [routerLink]="['/pelicula', batalla.pelicula?.id, 'view']">{{ batalla.pelicula?.titulo }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="batalla.ganador">
              <a [routerLink]="['/bando', batalla.ganador?.id, 'view']">{{ batalla.ganador?.nombre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="batalla.perdedor">
              <a [routerLink]="['/bando', batalla.perdedor?.id, 'view']">{{ batalla.perdedor?.nombre }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/batalla', batalla.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/batalla', batalla.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(batalla)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
